In [1]:
# Importing Libraries

import numpy as np
import pandas as pd

In [2]:
# importing DataFrame into IDE

D_f = pd.read_csv('fuel_ferc1.csv')

In [3]:
# to check the first 5 data present in the dataframe
D_f.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

# Question 3

### Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [4]:
# This is carried out by using the 'groupby' function to split the data into the category/group
# so as index out the fuel type codes and their fuel cost per unit burned, then a mean (avearage)
# is carried out to list the different fuel type code and their respective mean value.

D_f.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 4

### What is the standard deviation and 75th percentile of the measure of the energy per unit (Fuel_mmbtu_per_unit)
### in two decimal places?

In [5]:
# This is simply done by carrying out the 'describe' function of the said "Fuel_mmbtu_per_unit"

D_f['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

## Question 5

### What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [6]:
# using this line of code to determine the skewness of the data gives:

# our focus is on the fuel quantity burned which we can see as #15.851495 == 15.85 to 2.dp

D_f.skew(axis=0)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [7]:
# using the 'kurtosis/kurt' function gives:
# 651.369450 == 651.37 to 2.dp
D_f.kurt(axis=0)

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

## Question 6

### Which feature has missing values and what is the total number of missing value and percentage of the missing 
### rows  as a factor of the total number of rows in the three decimal places?

In [8]:
# Checking for NAN/missing values
D_f.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [9]:
# We can see here that the feature 'fuel_unit' has a total number of 180 missing values in the dataset.

In [10]:
# using this line of code to determine the total number of entries present in the dataset
# we can see that a total number of 29523 entries are present.
D_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [11]:
# To detremine the Percentage of the missing rows we have
# missing row/ total number of entries in dataset * 100

Percentage_rows = (180/29523)*100

In [12]:
# This gives 0.610 to 3.dp
Percentage_rows

0.609694136774718

## Question 8

### Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [13]:
# We can input this short line of code to carry out correlation on the data.
# And since we are asked to focus on the 'Fuel Cost Per Unit Burned', we can simply identify the second & third 
# smallest correlation value in that column.

# This gives -0.010034 and -0.018535
D_f.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

## Question 9

### For the fuel type coal, what is the percentage change in the fuel cost  per unit burned 
### in 1998 compared to 1994?

In [14]:
#DataFrame showing the info for the various years with their respective fuel-type and mean values of the various features
    
Year_data = D_f.groupby(['report_year','fuel_type_code_pudl']).sum()

In [15]:
Year_data.head()

                                 utility_id_ferc1  fuel_qty_burned  \
report_year fuel_type_code_pudl
1994        coal                            50430     7.172082e+08
            gas                             54449     2.432212e+09
            nuclear                          6643     2.069366e+08
            oil                             14821     1.469716e+06
            other                            1208     5.094458e+06

                                 fuel_mmbtu_per_unit  \
report_year fuel_type_code_pudl
1994        coal                        10293.429297
            gas                           498.035534
            nuclear                      1384.184311
            oil                           960.537684
            other                           1.287506

                                 fuel_cost_per_unit_burned  \
report_year fuel_type_code_pudl
1994        coal                                 14984.572
            gas                                  10792.496
            nuclear                             227983.354
            oil                                   9362.194
            other                                  116.737

                                 fuel_cost_per_unit_delivered  \
report_year fuel_type_code_pudl
1994        coal                                    59215.371
            gas                                      8099.070
            nuclear                                  3483.492
            oil                                      7622.838
            other                                     117.148

                                 fuel_cost_per_mmbtu
report_year fuel_type_code_pudl
1994        coal                           682.14697
            gas                           1368.51941
            nuclear                        136.53400
            oil                           1147.21573
            other                           27.97400

In [16]:
# Showing the info for year 1998 and year 1994, indexing is done using the loc syntax 

Year_data['fuel_cost_per_unit_burned'].loc[[1998,1994],'coal']

report_year  fuel_type_code_pudl
1994         coal                   14984.572
1998         coal                   11902.597
Name: fuel_cost_per_unit_burned, dtype: float64

In [17]:
Year_1994,Year_1998 = Year_data['fuel_cost_per_unit_burned'].loc[[1994,1998],'coal']

In [18]:
# Calculating the Percentage change

Percentage_change = ((Year_1998 - Year_1994)/(Year_1994) * 100)

In [19]:
# This gives -21% (roundng up to nearest percent)

Percentage_change

-20.56765451826049

## Question 10

### Which year has the highest average fuel cost per unit delivered?

In [20]:
# This is done using the 'groupby' function to split the data into the category/group and indexed out the fuel cost/year
# Also the average/mean is carried out 
# And then the values sorted out from the Highest to lowest using the (ascending=False) syntax
# the first highest five is selected using the .head()

D_f.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False).head()

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

# Thank You !